__pycache__/
env/
config.py
.DS_Store
BTCBUSD-1m-data.csv
univariate.csv
univariate_multistep.csv
multivariate_multiinput.csv
multivariate_multiparallel.csv
multivariate_multistep.csv
past_simulations/